{% extends 'base.html' %}
{% block head %}<script src="{{ url_for('static', filename= 'js/admin.js') }}"></script>{% endblock %}
{% block title %}Админка{% endblock %}
{% block content %}
    <h3>Группа</h3>
    <div id="list" style="margin: 10px;">
        Не принимать с ID:
        {% for bad_id in bad_ids %}
        <div class="bad_id">{{bad_id}} <button type="button" class="btn btn-danger btn-sm del"
            name="del_bad_id">x</button></div>
        {% endfor %}
    </div>
    <div class="input-group" style="width: 50%;">
        <span class="input-group-text">Добавить ID (Вар или ВК)</span>
        <input type="text" class="form-control" placeholder="123456">
        <button type="button" class="btn btn-success btn-sm" name="add_bad_id">+</button>
    </div>
    <br>
    <h3>Расписание</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col" width="30%">Название деятельности</th>
            <th scope="col">Время</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for row in rows %}
        {% set id = row[0] %}
        <tr data-action="{{id}}">
            <td>{{row[1]}}</td>
            <td><button type="button" class="btn btn-secondary btn-sm" name="show">показать</button></td>
            <td style="vertical-align: middle;"><button type="button" class="btn btn-primary btn-sm" name="upd" hidden>обновить</button></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}